# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# database (SQLite + Litestream working files)
/data/*.db
/data/*.db-*
/data/uploads/
*.db
*.db-journal
*.db-wal
*.db-shm

# env
.env
.env*.local
.env.local

# logs
*.log
npm-debug.log*

# testing
/coverage

# misc
.DS_Store
*.pem
.vscode/*
!.vscode/extensions.json
.idea
/tsconfig.tsbuildinfo
